---
import { Image } from "astro:assets";
import Link from "./ui/link.astro";
import Results250 from "assets/testimonial/results250m.png";
import Casestudy2 from "assets/casestudies/casestudy2.png";
import Resultsamazon from "assets/testimonial/resultsamazon.png";
import {Picture} from "astro:assets";
import Cleaningresults from "assets/testimonial/resultscleaning.png";
---
<h3 class="text-5xl pb-12 pt-16 font-bold lg:tracking-tight">
  Businesses using our content system see <span class="text-yellow-500"> massive </span> growth.
 </h3> 
 
  <!-- Case Study Section 
<div class="flex">
<div class="min-w-40 m-10"><Picture src={crepEscape} alt="Forever Viral Media Video Content"></div>
<div class="min-w-40 m-10"><Picture src={auction} alt="Forever Viral Media Video Content"></div>

    <div class="min-w-40 m-10"><Picture src={icecream} alt="Forever Viral Media Video Content"></div>
<div class="min-w-40 m-10"><Picture src={detail} alt="Forever Viral Media Video Content"></div>                  
</div>
<div class="flex">
<div class="min-w-40 m-10"><Picture src={werks} alt="Forever Viral Media Video Content"></div>
    <div class="min-w-40 m-10"><Picture src={speedy} alt="Forever Viral Media Video Content"></div>
        <div class="min-w-40 m-10"><Picture src={bins} alt="Forever Viral Media Video Content"></div>
            <div class="min-w-40 m-10"><Picture src={brady} alt="Forever Viral Media Video Content"></div>
           
</div>
-->


    <div class="grid mb-6 pt-6 sm:grid-cols-2 md:grid-cols-3 align-items-center">
      <div href="/casestudies" class="bg-white mb-6 pt-4 pl-2 pr-2 pb-4 rounded-lg ml-2 mr-2 shadow-lg hover:shadow-2xl border-2 border-black">
        <h3 class="text-xl font-bold p-6">
          The Miracle Grand Opening of an Amazon Liquidation Business | 1 Day, $1,000 Budget, 50k+ Sales.
        </h3>
       
        <Picture src={Resultsamazon} alt="Case Study" class="p-3 w-full h-100 object-cover rounded-lg" />
        <p class="text-sm p-6">
          A tight marketing budget and a small window of opportunity. We took this liquidation business to incredible feats using a clever marketing strategy that paid off big for our client., and then did it again..
        </p>
      </div>

      <div class="bg-white mb-6 pt-4 pl-2 pr-2 pb-4 rounded-lg ml-2 mr-2 shadow-lg hover:shadow-2xl border-2 border-black">
        <h3 class="text-xl font-bold p-6">
          Small Business, Big Reach. | 250 Million impressions in 3 months using Tiktok.
        </h3>
      
        <Picture src={Results250} alt="Case Study" class="p-3 w-full h-100 object-cover rounded-lg" />
        <p class="text-sm p-6">
          What started as a simple social media launch strategy for a small franchisee turned into a viral sensation. Leading to franchise record breaking numbers that left their corporate marketing office speechless..
        </p>
      </div>

      <div class="bg-white mb-6 pt-4 pl-2 pr-2 pb-4 rounded-lg ml-2 mr-2 shadow-lg hover:shadow-2xl border-2 border-black">
        <h3 class="text-xl font-bold p-6">
          Squeaky Clean Marketing. | Tripling a Cleaning Service's Entire Business.
        </h3>
       
        <Picture src={Cleaningresults} alt="Case Study" class="p-3 w-full h-100 object-cover rounded-lg" />
        <p class="text-sm p-6">
          With a simple content and ad strategy, we helped this cleaning service triple their business in just a few months. Our targeted approach and engaging content led to a significant increase in customer acquisition and retention.
        </p>
      </div>
    </div>


    <div  class="bg-white mb-6 pt-4 pl-2 pr-2 pb-4 rounded-lg ml-2 mr-2 shadow-lg hover:shadow-2xl border-2 border-black">
      <h3 class="text-xl font-bold p-6">
        A Super Sweet Success Story. | Zero to Over 7 figures in Sales for Small Business Owner 
      </h3>
     
      <p class="text-sm p-6">
        Every entrepreneur starts with a dream, but it takes the right strategy, execution, and support to turn that dream into a reality. This small business owner came to us with a unique product and a vision for success, but like many entrepreneurs, they were struggling to reach the right audience and scale their business.

        We worked closely with the client to understand their goals and challenges. Through in-depth research and strategy sessions, we crafted a customized marketing plan that combined targeted digital campaigns with compelling, engaging content. From developing a brand voice that resonated with their target market to implementing data-driven advertising strategies, our team designed a holistic approach to grow their business from the ground up.
        
        The result? 
      </p>
      <a class='justify-center p-3 inline-block pb-3' dir='ltr' >
        <Link
        href="/casestudies">
         Read More </a>
        
    </div>
    <div  class="bg-white mb-6 pt-4 pl-2 pr-2 pb-4 rounded-lg ml-2 mr-2 shadow-lg hover:shadow-2xl border-2 border-black">
      <h3 class="text-xl font-bold p-6">
        Unknown to Unstoppable. | 12x Audience Growth for a Small Business in 6 Months.
      </h3>
      
      <p class="text-sm p-6">
        A small business with big dreams. We helped this client grow their audience by 12x in just 4 months through a combination of engaging content, and strategic partnerships. Our team worked closely with the client to understand their brand, audience, and goals, and developed a comprehensive content strategy that resonated with their target market. By creating compelling, shareable content and leveraging data-driven insights, we were able to drive significant growth in their online presence and customer engagement. The results speak for themselves, with a 12x increase in audience size and a significant boost in brand awareness and customer loyalty.
      </p>
      <a class='justify-center p-3 inline-block pb-3' dir='ltr' >
        <Link
        href="/casestudies">
         Read More </a>
    </div>
    <div  class="bg-white mb-6 pt-4 pl-2 pr-2 pb-4 rounded-lg ml-2 mr-2 shadow-lg hover:shadow-2xl border-2 border-black">
      <h3 class="text-xl font-bold p-6">
        Lines out the Door. | 5x Increase in Foot Traffic for a Local Restaurant.
      </h3>
     
      <p class="text-sm p-6">
        A local restaurant with big ambitions. We helped this client increase foot traffic by 5x in just 3 months through a combination of influencer marketing and engaging content. By partnering with local influencers and creating compelling, shareable content, we were able to drive significant growth in their customer base and brand awareness. Our team worked closely with the client to understand their goals and target market, and developed a customized marketing strategy that delivered real results. The restaurant saw lines out the door, increased revenue, and a loyal customer following that continues to grow.
      </p>
      <a class='justify-center p-3 inline-block pb-3' dir='ltr' >
        <Link
        href="/casestudies">
         Read More </a>
    </div>



    <Link
    href="/casestudies"
   
    target="_blank"
    class="flex gap-1 font-bold items-center justify-center"
    rel="noopener">
    

     Get Case Studies 
  </Link>

