---
import { Image } from "astro:assets";
import Link from "./ui/link.astro";
import Results250 from "assets/testimonial/results250m.png";
import Casestudy2 from "assets/casestudies/casestudy2.png";
import Resultsamazon from "assets/testimonial/resultsamazon.png";
import {Picture} from "astro:assets";
import Cleaningresults from "assets/testimonial/resultscleaning.png";

import crepEscape from "assets/clientlogos/crepescape.png";
import auction from "assets/clientlogos/auction1.png";
import bins from "assets/clientlogos/bins.png";
import brady from "assets/clientlogos/brady.png";
import detail from "assets/clientlogos/detail.png";
import icecream from "assets/clientlogos/icecream1.png";
import speedy from "assets/clientlogos/speedy.png";
import werks from "assets/clientlogos/werks.png";
import logobatch from "assets/logobatch.png";
---
<h3 class="text-5xl text-center pt-16 font-bold lg:tracking-tight">
  Turning Goals into Results.
 </h3> 
 <p class="pt-4 text-center ">
  We take pride in helping our clients- from small businesses to large corporations- achieve their goals. 
  </p>
  <!-- Case Study Section 
<div class="flex">
<div class="min-w-40 m-10"><Picture src={crepEscape} alt="Forever Viral Media Video Content"></div>
<div class="min-w-40 m-10"><Picture src={auction} alt="Forever Viral Media Video Content"></div>

    <div class="min-w-40 m-10"><Picture src={icecream} alt="Forever Viral Media Video Content"></div>
<div class="min-w-40 m-10"><Picture src={detail} alt="Forever Viral Media Video Content"></div>                  
</div>
<div class="flex">
<div class="min-w-40 m-10"><Picture src={werks} alt="Forever Viral Media Video Content"></div>
    <div class="min-w-40 m-10"><Picture src={speedy} alt="Forever Viral Media Video Content"></div>
        <div class="min-w-40 m-10"><Picture src={bins} alt="Forever Viral Media Video Content"></div>
            <div class="min-w-40 m-10"><Picture src={brady} alt="Forever Viral Media Video Content"></div>
           
</div>
-->


    <div class="grid mb-6 sm:grid-cols-2 md:grid-cols-3 align-items-center">
      <a href="/casestudies" class="bg-white mb-6 pt-4 pl-2 pr-2 pb-4 rounded-lg ml-2 mr-2 shadow-lg hover:shadow-2xl border-2 border-black">
        <h3 class="text-xl font-bold p-6">
          The Miracle Grand Opening of an Amazon Liquidation Business | 1 Day, $1,000 Budget, 50k+ Sales.
        </h3>
        <p class="p-1 ml-3 font-bold rounded-3xl padding-left-2">
          Services Provided:
        </p>
        <p class="p-3 ml-3 font-bold bg-blue-200 rounded-3xl text-center inline-block align-center padding-left-2">
          Campaign
        </p>
        <p class="p-3 ml-3 font-bold bg-green-200 rounded-3xl text-center inline-block align-center padding-left-2">
          Content Creation
        </p>
        <Picture src={Resultsamazon} alt="Case Study" class="p-3 w-full h-100 object-cover rounded-lg" />
        <p class="text-sm p-6">
          A tight marketing budget and a small window of opportunity. We took this liquidation business to incredible feats using a clever marketing strategy that paid off big for our client., and then did it again..
        </p>
      </a>

      <a href="/casestudies" class="bg-white mb-6 pt-4 pl-2 pr-2 pb-4 rounded-lg ml-2 mr-2 shadow-lg hover:shadow-2xl border-2 border-black">
        <h3 class="text-xl font-bold p-6">
          Small Business, Big Reach. | 250 Million impressions in 3 months using Tiktok.
        </h3>
        <p class="p-1 ml-3 font-bold rounded-3xl padding-left-2">
          Services Provided:
        </p>
        <p class="p-3 ml-3 font-bold bg-blue-200 rounded-3xl text-center inline-block align-center padding-left-2">
          Campaign
        </p>
        <p class="p-3 ml-3 font-bold bg-green-200 rounded-3xl text-center inline-block align-center padding-left-2">
          Content Creation
        </p>
        <Picture src={Results250} alt="Case Study" class="p-3 w-full h-100 object-cover rounded-lg" />
        <p class="text-sm p-6">
          What started as a simple social media launch strategy for a small franchisee turned into a viral sensation. Leading to franchise record breaking numbers that left their corporate marketing office speechless..
        </p>
      </a>

      <a href="/casestudies" class="bg-white mb-6 pt-4 pl-2 pr-2 pb-4 rounded-lg ml-2 mr-2 shadow-lg hover:shadow-2xl border-2 border-black">
        <h3 class="text-xl font-bold p-6">
          Squeaky Clean Marketing. | Tripling a Cleaning Service's Entire Business.
        </h3>
        <p class="p-1 ml-3 font-bold rounded-3xl padding-left-2">
          Services Provided:
        </p>
        <p class="p-3 ml-3 font-bold bg-blue-200 rounded-3xl text-center inline-block align-center padding-left-2">
          Campaign
        </p>
        <Picture src={Cleaningresults} alt="Case Study" class="p-3 w-full h-100 object-cover rounded-lg" />
        <p class="text-sm p-6">
          With a simple content and ad strategy, we helped this cleaning service triple their business in just a few months. Our targeted approach and engaging content led to a significant increase in customer acquisition and retention.
        </p>
      </a>
    </div>

